.dialogs {
    display: flex;
    justify-content: flex-start;
}

.dialog {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 1px solid #000;
    padding-right: 5px;
}

.messages {
    margin-left: 20px;
    width: 60%;
}

.dialogs_form {
    display: flex;
    width: 100%;

}

.dialogs_area {
    width: 80%;
    resize: none;
    height: 20px;
    margin-right: 4px;
}

.dialogs_button {
    width: 20%;
}